<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %><br>

  <strong>Created events:</strong>
  <% @user.created_events.each do |event| %>
    <%= event.name %><br>
  <% end %>

  <strong>Attending events:</strong>
  <% @user.attended_events.each do |event| %>
    <%= event.name %><br>
  <% end %>
</p>

<%= link_to 'Home', root_path %>



