<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %><br>

  <strong>Created events:</strong>
  <% @user.created_events.each do |event| %>
    <%= event.name %><br>
  <% end %>

  <strong>Attending events:</strong><br>
  <p>past events:</p>
  <% @user.attended_events.past.each do |event| %>
    <%= event.name %><br>
  <% end %>
  <br>
  <p>future events:</p>
  <% @user.attended_events.future.each do |event| %>
    <%= event.name %><br>
  <% end %>
</p>

<%= link_to 'Home', root_path %>



