<div class="main-field">

  <h1><%= @user.username %></h1>

    <p class="logistics">
      <strong>Created events:</strong><br>
      <% @user.created_events.each do |event| %>
        <%= link_to event.name, event_path(event) %><br>
      <% end %>
    </p>
  
    <strong>Attending events:</strong><br>
    <p class="logistics">
      <strong>Past events:</strong><br>
      <% @user.attended_events.past.each do |event| %>
        <%= link_to event.name, event_path(event) %><br>
      <% end %>
    </p>

    <p class="logistics">
      <strong>Future events:</strong><br>
      <% @user.attended_events.future.each do |event| %>
        <%= link_to event.name, event_path(event) %><br>
      <% end %>
    </p>
  
  <%= link_to 'Home', root_path %>
</div>



