<h1><%= @event.name %></h1>

<p class="logistics">
  <strong>Place</strong><br>
  <%= @event.place %>
</p>

<p class="logistics">
  <strong>Date</strong><br>
  <%= @event.date %>
</p>

<p class="logistics">
  <strong>Organised by</strong><br>
  <%= link_to @event.creator.username, user_path(@event.creator) %>
</p>

<p class="logistics">
  <strong>Attendees</strong><br>
  <% @event.attendees.each do |attendee| %>
    <%= link_to attendee.username, user_path(attendee) %><br>
  <% end %>
</p>

<p class="logistics">
  <strong>Description</strong>
  <%= @event.description %>
</p>

<% if @event.public_event? || (@event.only_friends? && @event.creator.friends.include?(current_user)) %>>
  <% if attendance = current_user.already_attending?(@event) %>
      <%= button_to 'Unattend this event', attendance_path(attendance), method: :delete %>
    <% else %>
      <%= button_to 'Attend this event', attendances_path(:event_id => @event.id), method: :post %>
    <% end %>
<% elsif @event.only_invited? && i = current_user.find_invitation(@event) %>
  <% if i.open?%>
    <%= button_to "Accept invitation", invitation_path(i, invitation: { invitation_status: 'accepted' }), method: :patch %>
    <%= button_to "Decline invitation", invitation_path(i, invitation: { invitation_status: 'declined' }), method: :patch %>
    <% elsif i.declined? %>
      <p>You have declined this invitation. Change your mind?</p>
      <%= button_to "Accept invitation", invitation_path(i, invitation: { invitation_status: 'accepted' }), method: :patch %>
    <% elsif i.accepted? %>
      <p>You have accepted this invitation. Change your mind?</p>
      <%= button_to "Decline invitation", invitation_path(i, invitation: { invitation_status: 'declined' }), method: :patch %>
  <% end %>
<% end %>



<% if @event.creator == current_user && @event.only_invited? %>
  <%= link_to 'Invite people',  new_invitation_path(event_id: @event) %>
<% end %>

<% if @event.creator == current_user %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>

<%= link_to 'Back', events_path %>
