<h1><%= @event.name %></h1>

<p class="logistics">
  <strong>Place</strong><br>
  <%= link_to @event.place %>
</p>

<p class="logistics">
  <strong>Date</strong><br>
  <%= link_to @event.date %>
</p>

<p class="logistics">
  <strong>Organised by</strong><br>
  <%= link_to @event.creator.username, user_path(@event.creator) %>
</p>

<p class="logistics">
  <strong>Attendees</strong><br>
  <% @event.attendees.each do |attendee| %>
    <%= link_to attendee.username, user_path(attendee) %><br>
  <% end %>
</p>

<% if @event.public_event? || (@event.only_friends? && @event.creator.friends.include?(current_user)) %>
  <%= link_to 'Attend this event', invitations_path(:event_id => @event.id), method: :post %>
<% end %>
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
