<%= form_with(model: invitation) do |form| %>

  <%= form.hidden_field :event_id, value: @event.id %>

  <div class="field">
    <% current_user.friends.each do |friend| %>
      <%= check_box_tag "invitation[invited_users_ids][]", friend.id, @event.invited_guests.include?(friend) %>
      <%= label_tag(:invited_persons, "#{friend.username}") %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>