<h1>Friend Requests</h1>

<p>Received friend requests: </p>
<% if @received_friend_requests.empty? %>
  <%= "You don't have any received friend requests at this moment" %>
<% else %>
  <% @received_friend_requests.each do |request| %>
    <%= request.inviter.username%>
    <%= button_to 'Accept', friendships_path(friend_request: request.id), method: :post %>
    <%= link_to 'Decline' %><br>
  <% end %>
<% end %>


<p>Pending friend requests: </p>
<% if @sent_friend_requests.empty? %>
  <%= "You don't have any pending friend requests at this moment" %>
<% else %>
<% @sent_friend_requests.each do |request| %>
  <%= request.inviter.username%>
  <%= link_to 'Withdraw request' %><br>
  <% end %>
<% end %>