<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <%= link_to "Private Events", root_path %>
      </div>
        <nav class="nav-header">
            <%= link_to "Home", root_path %>
          <% if user_signed_in? %>
            <%= link_to "Friends", friendships_path %>
          <% end %>
          <div class="devise-links">
            <% if user_signed_in? %>
                <div class="dropdown">
                  <%= link_to current_user.username, edit_user_registration_path %>
                  <div class="dropdown-content">
                    <%= link_to "Profile", user_path(current_user) %>
                    <%= link_to "Edit", edit_user_registration_path %>
                    <%= link_to "Sign off", user_registration_path, method: :delete %>
                  </div>
                </div>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              <% else %>
              <%= link_to "Sign in", new_user_session_path %>
              <%= link_to "Sign up", new_user_registration_path %>
            <% end %>
          </div>
        </nav>
    </div>

    <div class="page-body">

      <div class="main-field">
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>
        <%= yield %>
      </div>

      <nav class="side-bar">
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to 'New Event', new_event_path %></li>
            <li><%= link_to 'Created events', events_created_path %></li>
            <li><%= link_to 'Attending events', events_attending_path %></li>
            <li><%= link_to 'Friend Requests', friend_requests_path %></li>
          </ul>
          <% else %>
            <p>Log in to create or attend events or to add friends and send them invitations.</p>
        <% end %>
      </nav>
    </div>
  </body>
</html>
